*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body{
    background-color:rgb(26, 26, 26) ;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 80%;
    background-color: aqua;
    justify-self: center;
}

.laft_bar{
    grid-column: 1/5;
    grid-row: 1;
    background-color:#2A2D37;
}
.img_logo_manu{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
   
}

.img_logo{
    width: 200px;
    grid-column: 1/11;
    grid-row: 1;
    justify-self: center;
    justify-content: center;
    z-index: 2;

}

.nunber_1{
    grid-column: 3/13;
    grid-row: 2;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 40px;
}
.nunber_1 img{
    width: 20px;
    margin-left:15px ;
    margin-right:10px ;

}

.nunber_2{
    grid-column: 3/13;
    grid-row: 3;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
}
.nunber_2 img{
    width: 20px;
    margin-left:15px ;
    margin-right:10px;
}

.nunber_3{
    grid-column: 3/13;
    grid-row: 4;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
}
.nunber_3 img{
    width: 20px;
    margin-left:15px ;
    margin-right:10px;
}

.nunber_4{
    grid-column: 3/13;
    grid-row: 5;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
    font-size: 14px;
    
    
}
.nunber_4 img{
    width: 20px;
    margin-left:15px ;
    margin-right:10px;
}
.Education{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
}

.EDU{
    grid-column: 3/13;
    grid-row: 1;
    margin-left:15px ;
    font-size: 22px;
}
.under_line{
    grid-column: 3/13;
    grid-row: 2;
    margin-left:15px ;
    background-color: #e6c41a;
    height: 2px;
    margin-top: 12px;
}
.Bachelor{
    grid-column: 3/13;
    grid-row: 3;
    margin-left:15px ;
    font-size: 20px;
    margin-top: 15px;
}
.Wardiere{
    grid-column: 3/13;
    grid-row: 4;
    margin-left:15px ;
    font-size: 18px;
    
}
.a2006{
    grid-column: 3/13;
    grid-row: 5;
    margin-left:15px;
    font-size: 12px;
    
}
.Bachelor_of{
    grid-column: 3/13;
    grid-row: 6;
    margin-left:15px ;
    font-size: 20px;
    margin-top: 15px;
}

.Wardiere_Un{
    grid-column: 3/13;
    grid-row: 7;
    margin-left:15px ;
    font-size: 18px;
}
.a2006_2008{
    grid-column: 3/13;
    grid-row: 8;
    margin-left:15px;
    font-size: 12px;
}

.nunber_5{
    grid-column: 3/13;
    grid-row: 2;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 40px;
    font-size: 18px;
    margin-left:15px;
}

.nunber_6{
    grid-column: 3/13;
    grid-row: 3;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
    font-size: 18px;
    margin-left:15px;
}

.nunber_7{
    grid-column: 3/13;
    grid-row: 4;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
    font-size: 18px;
    margin-left:15px;
    
}

.nunber_8{
    grid-column: 3/13;
    grid-row: 5;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
    font-size: 18px;
    margin-left:15px;
}

.right_bar{
    grid-column: 5/13;
    grid-row: 1;
    background-color:#FFFFFF;
}

.lorana{
    height: 200px;
    background-color: #F4D643;
    grid-column: 3/13;
    grid-row: 1;
    z-index: 1;
    margin-top: 130px; 
}

.LORANA{
    font-size: 50px;
    text-align: center;
    padding-left: 140px;
    margin-top: 50px;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.Art{
    font-size: 30px;
    margin-left: 240px;
    color: #3b3939;
    letter-spacing: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.experience{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 400px;
    margin-left: 50px;
}
.Experi{
    color: #2A2D37;
    font-size: 35px;
}
.Experience_under{
    height: 3px;
    background-color: #e6c41a;
    grid-column: 1/13;
    grid-row: 2;
    margin-top: 20px;
}
.jan_bitto{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:2px solid #000000;
    grid-column: 1/1;
    grid-row: 3;
    margin-top: 20px;
}
.Experience_i{
    height: 230px;
    width: 2px;
    border:2px solid #000000;
    grid-column: 1/1;
    grid-row: 4;
    margin-top: 20px;
    margin-left: 8px;
    margin-top: 0px;
}

.digi{
    padding-right: 5px;
    grid-column: 1/13;
    grid-row: 4;
    margin: 0px 0px 0px 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.dat{
    color: #333131;
    font-size: 18px;
}
.mas{
    color: #333131;
    font-size: 16px;
    margin-top: 5px;
}
.heat{
    color: #333131;
    margin-top: 8px;
}
.bodi{
    color: #333131;
    text-align: justify;
    padding-right: 5px;
    margin-top: 10px;
}

.jan_bitto_1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:2px solid #000000;
    grid-column: 1/1;
    grid-row: 5;
    
}
.Experience_i_2{
    height: 260px;
    width: 2px;
    border:2px solid #000000;
    grid-column: 1/1;
    grid-row: 6;
    margin-left: 8px;
    margin-top: 0px;
}
.digi_1{
    padding-right: 5px;
    grid-column: 1/13;
    grid-row: 6;
    margin: 0px 0px 0px 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




.jan_bitto_2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:2px solid #000000;
    grid-column: 1/1;
    grid-row: 7;
    
}
.Experience_i_3{
    height: 220px;
    width: 2px;
    border:2px solid #000000;
    grid-column: 1/1;
    grid-row:7 ;
    margin-left: 8px;
    margin-top: 17px;
}
.digi_3{
    padding-right: 5px;
    grid-column: 1/13;
    grid-row: 7;
    margin: 0px 0px 0px 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.reference{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
}
.Referen{
    grid-column: 1/13;
    grid-row: 8;
    font-size: 35px;
    color: #000000;
    margin-left: 45px;
}
.under_line_2{
    grid-column: 1/12;
    grid-row: 9;
    margin-left:15px ;
    background-color: #e6c41a;
    height: 2px;
    margin-top: 12px;
    margin: 0px 45px;
}
.Estelledacy_1{
    grid-column: 1/7;
    grid-row: 10;
    font-size: 35px;
    color: #000000;
    margin-left: 45px;
}

.Estelledacy_2{
    grid-column: 7/12;
    grid-row: 10;
    font-size: 35px;
    color: #000000;
    margin-left: 45px;
}
.Estelle{
    font-size: 25px;
    color: #000000;
    margin-top: 15px;
}
.Wardierel{
    font-size: 20px;
    color: #000000;
    margin-top: 5px;
    margin-left: 0px;
}
.Phone{
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-left: 0px;
}

.email{
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 50px;
}

